/*tabs*/
md-tab-item{
    font-family: 'Nunito', sans-serif;
    font-size:16px;
}
md-content,
md-tabs.md-primary>md-tabs-wrapper{
    background-color:transparent;
    overflow-x: hidden;
    overflow-y:hidden;
}
.accordion{
    position:relative;
    label {
        display: block;
        padding:1em;
        border-top:1px solid #fff;
        color: #fff;
        cursor:pointer;
        transition: all .5s ease-in-out;
        background-color:rgba(0,0,0,0);
        &:hover{
            background-color:rgba(0,0,0,.5);
            color:#ccc;
        }
        //&:hover{
            //background: #ccc;
        //}
    }
    article{
        margin-top: 0;
        overflow: hidden;
        max-height: 0px;
        overflow:hidden;
        transition: all .5s ease-in-out;
        md-card{
            background:transparent;
            border:0;
            box-shadow:none;
            color: white;
            md-card-content{
                border:0;
                box-shadow:none;
            }
        }
    }
    input{
        &:checked{
            & + label{
                //background: #ccc;
                color: white;
                margin-bottom: 0;
            }
            & ~ article{
                max-height: 100vh; /*auto*/
                transition: all .5s ease-in-out;
            }
        }
    }

}

a.actionIcons{
    transition: 0.6s;
    opacity:1;
    border-radius: 50%;
    z-index: 20;
    &.closeBtn,
    &.playBtn,
    &.brandIcon {
        position:absolute;
    }
    &.closeBtn{
        top:40px;
        right:0;
    }
    &.playBtn{
        top:1em;
        right:1em;
        transform: scale(2);
    }
    &.brandIcon{
        top:.5em;
        right:.5em;
    }
    /*&.detailsActions{

    }*/
    &:hover{
        animation: shadow-pulse 1s;
        md-icon, .fa{
            opacity:.5;
            border-radius: 50%;
        }
    }
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(255, 255, 255, 0);
  }
}
