body{
    color:$font-color;
    background-color:#000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position:relative;
    @media screen and (max-width: 960px) {
        background-size: auto 100%;
        height: 100%;
        background-attachment:fixed;
        background-position-y: center;
    }
    &>section{

    }
    ul {
        margin:0;
        padding:0;
        li{
            list-style-type: none;
            margin:0;
            padding:0;
        }
    }
    a{
        color: white;
        text-decoration: none;
    }
    main{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.35+1,0+25,0.5+54,1+100 */
        background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.35) 1%, rgba(0,0,0,0) 25%, rgba(0,0,0,0.5) 54%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 1%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.5) 54%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 1%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.5) 54%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        &>section{
            -webkit-box-shadow: inset 0px -16px 32px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px -16px 32px 0px rgba(0,0,0,0.75);
            box-shadow: inset 0px -16px 32px 0px rgba(0,0,0,0.75);

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
            background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
        }

        #showTitle {
            color: #fff;
            height:10vh;
            @media screen and (max-width: 960px) {
                height:auto;
            }
            header{
                position:relative;
                h1{
                    font-family: 'Nunito', sans-serif;
                    font-size:60px;
                    margin-bottom:0;
                }
                p {
                    margin: 0;
                }
            }

        }
        
       #showPlaylist {
            height:70vh;
            max-height:initial;
            @media screen and (max-width: 960px) {
                height:auto;
            }
            md-content{
                overflow-y:scroll;
            }
        }
        
        div#showDetails{
            &>div{
                position:relative;
            }
            height:20vh;
            background-color:#141719;
            overflow-y:hidden;
            @media screen and (max-width: 960px) {
                height:auto;
            }
            md-content{
                color:$font-color;
                padding-top:0;
                position:relative;
            }
            md-tabs-content-wrapper._md{
                md-content{
                    @media screen and (max-width: 960px) {
                        padding: 32px 0;
                    }
                }
            }
            [role="cast"]{
                ul{
                    li{
                        display:inline-block;
                    }
                }
            }
            md-icon, .fa {
                transform: scale(2);
            }
            ul.cast {
                margin:0;
                padding:0;
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                
                li{
                    margin:0;
                    padding:0;
                    span{
                        background-color: #333;
                        display:block;
                        margin:0 1em 1em;
                        padding:1em;
                        text-align:center;
                    }
                }
            }
            h3,p{
                margin-top:0;
            }
            md-grid-list md-grid-tile md-grid-tile-footer{
                height: initial;
                text-align:center;
                background: transparent;
                figcaption,h3{
                    text-align:center;
                    margin: 0 auto;
                }
            }
        }   
    }
 
}
