body.md-default-theme, body, html.md-default-theme, html {
    background-color: transparent !important;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar{
    color:#bce737!important; /* this changes the colour of the ripple */
    background-color:#bce737 !important;  /* this changes the colour of the ink bar */
}

    .md-button.md-default-theme.md-fab,
    .md-button.md-fab {
        background-color: #bce737;
        color: rgb(255, 255, 255)
    }



    .md-button.md-default-theme.md-accent,
    .md-button.md-accent {
        color: #bce737
    }



    .md-button.md-default-theme.md-accent.md-fab,
    .md-button.md-accent.md-fab,
    .md-button.md-default-theme.md-accent.md-raised,
    .md-button.md-accent.md-raised {
        color: rgb(255, 255, 255);
        background-color: #bce737
    }    

    .md-button.md-default-theme.md-accent:not([disabled]) md-icon,
    .md-button.md-accent:not([disabled]) md-icon {
        color: #bce737
    }
    ._md a.md-default-theme:not(.md-button).md-accent,
    ._md a:not(.md-button).md-accent {
        color: #bce737
    }
    md-checkbox.md-default-theme.md-checked.md-focused .md-container:before,
    md-checkbox.md-checked.md-focused .md-container:before {
        background-color: rgba(188,231,55, 0.26)
    }
    
    md-checkbox.md-default-theme.md-checked .md-ink-ripple,
    md-checkbox.md-checked .md-ink-ripple {
        color: rgba(188,231,55, 0.87)
    }
    
    md-checkbox.md-default-theme.md-checked .md-icon,
    md-checkbox.md-checked .md-icon {
        background-color: rgba(188,231,55, 0.87)
    }
   .md-accent .md-default-theme .md-datepicker-input-container.md-datepicker-focused,
    .md-accent .md-datepicker-input-container.md-datepicker-focused {
        border-bottom-color: #bce737
    }
    
    .md-accent .md-default-theme .md-datepicker-open .md-datepicker-calendar-icon,
    .md-accent .md-datepicker-open .md-datepicker-calendar-icon,
    .md-default-theme .md-datepicker-open.md-accent .md-datepicker-calendar-icon,
    .md-datepicker-open.md-accent .md-datepicker-calendar-icon {
        color: #bce737
    }
    
    md-icon.md-default-theme.md-accent,
    md-icon.md-accent {
        color: #bce737
    }
    
    md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused.md-accent .md-input,
    md-input-container:not(.md-input-invalid).md-input-focused.md-accent .md-input {
        border-color: #bce737
    }
    
    md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused.md-accent label,
    md-input-container:not(.md-input-invalid).md-input-focused.md-accent label,
    md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused.md-accent md-icon,
    md-input-container:not(.md-input-invalid).md-input-focused.md-accent md-icon {
        color: #bce737
    }
    
    md-list.md-default-theme md-list-item>md-icon.md-highlight.md-accent,
    md-list md-list-item>md-icon.md-highlight.md-accent {
        color: #bce737
    }
    
    md-nav-bar.md-default-theme md-nav-ink-bar,
    md-nav-bar md-nav-ink-bar {
        color: #bce737;
        background: #bce737
    }
    
    md-nav-bar.md-default-theme.md-accent>.md-nav-bar,
    md-nav-bar.md-accent>.md-nav-bar {
        background-color: #bce737
    }
    
    md-toolbar.md-accent>md-nav-bar.md-default-theme>.md-nav-bar,
    md-toolbar.md-accent>md-nav-bar>.md-nav-bar {
        background-color: #bce737
    }

    md-progress-circular.md-default-theme.md-accent path,
    md-progress-circular.md-accent path {
        stroke: #bce737
    }   
    md-progress-linear.md-default-theme.md-accent .md-bar,
    md-progress-linear.md-accent .md-bar {
        background-color: #bce737
    }

    md-radio-button.md-default-theme .md-on,
    md-radio-button .md-on {
        background-color: rgba(188,231,55, 0.87)
    }
    
    md-radio-button.md-default-theme.md-checked .md-off,
    md-radio-button.md-checked .md-off {
        border-color: rgba(188,231,55, 0.87)
    }
    
    md-radio-button.md-default-theme.md-checked .md-ink-ripple,
    md-radio-button.md-checked .md-ink-ripple {
        color: rgba(188,231,55, 0.87)
    }
   md-radio-group.md-default-theme .md-checked .md-ink-ripple,
    md-radio-group .md-checked .md-ink-ripple {
        color: rgba(188,231,55, 0.26)
    }
    
    md-radio-group.md-default-theme.md-focused:not(:empty) .md-checked .md-container:before,
    md-radio-group.md-focused:not(:empty) .md-checked .md-container:before {
        background-color: rgba(188,231,55, 0.26)
    }
    
    md-select.md-default-theme:not([disabled]):focus.md-accent .md-select-value,
    md-select:not([disabled]):focus.md-accent .md-select-value {
        border-bottom-color: #bce737
    }
    
    md-select-menu.md-default-theme md-content md-option[selected].md-accent,
    md-select-menu md-content md-option[selected].md-accent {
        color: #bce737
    }
        
    md-slider.md-default-theme .md-focus-ring,
    md-slider .md-focus-ring {
        background-color: rgba(188,231,55, 0.2)
    }
    
    md-slider.md-default-theme .md-track.md-track-fill,
    md-slider .md-track.md-track-fill {
        background-color: #bce737
    }
    
    md-slider.md-default-theme .md-thumb:after,
    md-slider .md-thumb:after {
        border-color: #bce737;
        background-color: #bce737
    }
    
    md-slider.md-default-theme .md-sign,
    md-slider .md-sign {
        background-color: #bce737
    }
    
    md-slider.md-default-theme .md-sign:after,
    md-slider .md-sign:after {
        border-top-color: #bce737
    }
    
    md-slider.md-default-theme[md-vertical] .md-sign:after,
    md-slider[md-vertical] .md-sign:after {
        border-top-color: transparent;
        border-left-color: #bce737
    }
    
    
    .md-subheader.md-default-theme.md-accent,
    .md-subheader.md-accent {
        color: #bce737
    }    