// Tipografia  
$font-style: normal; 
$font-variant: normal; 
$font-weight: normal; 
$font-color: #fff; 
$font-size: 1rem; 
$line-height: 1.5; 
$font-family: Helvetica Neue, Helvetica, Arial, sans-serif;