doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Appflix
  link(href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet')
  link(rel='stylesheet' href='css/vendor.css')
  link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
  link(rel='stylesheet' href='css/main.css')
body(ng-app="appFlix" ng-controller="appFlixController" back-img="{{Info.Images.Background}}" ng-cloak)
  main
    section(ng-app="appFlix")
      #showTitle(layout="row")
        header(flex="80" flex-offset="10")
          h1 {{Info.Title}}
          p
            span(ng-repeat='Genre in Genres')
              a(id='{{Genre.ID}}' href='#') {{Genre.Title}}
              | 
            |  / 
            span {{Info.Year}}
      #showPlaylist(layout="row")
        div(flex='25' flex-lg='25' flex-md='35' flex-sm='50' flex-xs='90' flex-offset="65" flex-offset-md="55" flex-offset-sm="45" flex-offset-xs="5" layout='column')
          md-content
            md-tabs.md-primary(md-selected='selectedIndex' md-swipe-content='' md-dynamic-height='')
              md-tab(ng-repeat='Season in Seasons' label='Temp. {{Season}}')
                .demo-tab(class='{{Season}}{{$index%4}}')
                  div(class='md-body-{{Season}}')
                    ul.accordionWrap(id='accordionDynamic{{Season}}')
                      li.accordion(id='s{{Season}}ep{{Episode.EpisodeNumber}}' ng-repeat="Episode in Episodes | filter:{SeasonNumber:Season} | filter:{Title: '!null'} | orderBy:'ID'" ng-class="{'active-block':$first}")
                        a(href="#" class="actionIcons playBtn") 
                          i(class="fa fa-play-circle" aria-hidden="true")
                        input(type='radio' name='Season{{Season}}Epi' id='item-s{{Season}}ep{{Episode.EpisodeNumber}}' ng-checked='$index == 0' hidden='')
                        label(for='item-s{{Season}}ep{{Episode.EpisodeNumber}}' accordion-dynamic='' ng-class="{'active':$first}") {{Episode.EpisodeNumber}} {{Episode.Title}}
                        article(class="content" reportMyHeight)
                          md-card
                            img.md-card-image(ng-srcset='{{Episode.Image}}' alt='{{Episode.ID}}')
                            md-card-content
                              p {{Episode.Synopsis}}
    section
      #showDetails(layout='row')
        div(flex="80" flex-offset="10")
          md-content
            md-tabs.md-primary(md='' md-border-bottom='' md-dynamic-height='')
              md-tab(label='General')
                md-content.md-padding
                  div(layout="row" layout-sm="column" layout-xs="column")
                    div(flex='25' flex-xs='100' flex-sm='100' flex-md='35' flex-lg='25' flex-order="2" flex-order-gt-md="1")
                      md-grid-list(md-cols='3' md-row-height='1:1' md-gutter='12px' md-gutter-gt-sm='8px')
                        md-grid-tile
                          a(href="#" class="actionIcons detailsActions") 
                            i(class="fa fa-plus-circle" aria-hidden="true")
                            md-grid-tile-footer
                              h3 Minha lista
                        md-grid-tile
                          a(href="#" class="actionIcons detailsActions") 
                            i(class="fa fa-star-o fa-2" aria-hidden="true")
                            md-grid-tile-footer
                              h3 Avaliar
                        md-grid-tile
                          a(href="#" class="actionIcons detailsActions") 
                            i(class="fa fa-share-alt" aria-hidden="true")
                            md-grid-tile-footer
                              h3 Compartilhar
                    div(flex-xs='100' flex-sm='100' flex-md='60' flex-lg='70' flex-offset='5' flex-offset-gt-sm='5' flex-offset-dm='0' flex-order="1" flex-order-gt-md="2")
                      h3 SINOPSE
                      p {{Info.Synopsis}}
              md-tab(label='Elenco' md-ink-ripple="false")
                md-content.md-padding
                  ul(class="cast")
                    li(role='cast' ng-repeat='Person in Team')
                      span.cast-item(id='{{Person.ID}}')
                        h4 {{Person.Name}}
                        h6 {{Person.Role}}
  // Angular Material requires Angular.js Libraries
  script(src='js/vendor.js')
  script(src='js/app.js')
  // Angular Material Library
  script(src='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js')
